.edit-icon {
  display: none;
  position: absolute;
  top: 25px;
  right: 30px;

}



.organizer-profile-wrap {
margin-top: 20px;
background-color: #fcfcfc;
width: 100%;
max-width: 450px;
padding: 30px;
border-radius: 10px;
box-shadow: 0px 6px 15px -10px rgba(0,0,0,0.6);
text-align: center;
position: relative;

 &:hover {
  .edit-icon {
    display: inline-block;
  }
 }
}





.head-organizer-profile i {
  font-size: 20px;
}

.organizer-events-wrap {
  margin-top: 20px;

}

.head-organizer-events {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-new-event{
  background-color: #EF457B;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;

}

.btn-new-event:hover {
  background-color: #AA184D;
  border: none;
  color: white;
}

.profile-pic {
  border-radius: 50%;
  border: 3px solid #FF0073;
}

.modal-content {
  padding: 30px;
  border-radius: 10px;
}

.list-unstyled {
  margin-top: 10px;
}

