.signup-image {
  display: block;
<<<<<<< HEAD
}


.signup-img-wrapper {
  padding: 20px;
}


.field-select-signup {
  padding: 20px;
  height: 40px;
  width: 100%;
  background-color: white;
  border: 1px solid #CCC;
}

.form-actions {
  margin-top: 15px;
}

.btn-signup{
  background-color: #EF457B;
  border: none;
  border-radius: 5px;
  color: white;
}

.btn-signup:hover {
  background-color: #AA184D;
  border: none;
  color: white;
}

.field-select-signup-wrap {
  margin-bottom: 15px;
}

=======
  padding: 20px;
}
>>>>>>> master
