<div class="container">
  <div class="row about-wrapper">
   <div class="col-xs-12 col-sm-4">
      <div class="about_col">
        <p><%= image_tag("icon_lupa.png", width: '60', height: '60') %></p>
        <h4>Busque por profissionais</h4>
        <p>Atualmente contamos com o serviço de <%= @professionals.count %> profissionais registrados.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="about_col">
        <p><%= image_tag("icon_deal.png", width: '60', height: '60') %></p>
        <h4>Faça um acordo</h4>
        <p>Envie propostas e aguarde a aceitação para fechar o contrato.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="about_col">
        <p><%= image_tag("icon_party.png", width: '60', height: '60') %></p>
        <h4>Divirta-se</h4>
        <p>Simples assim. <br> Aproveite seu evento.</p>
      </div>
    </div>
  </div>
</div>
