<div class="banner">
  <div class="banner-content">
    <h1>Surpreenda seus convidados</h1>
    <p>Os melhores serviços para seus eventos</p>
    <form action="<%= users_path %>">
      <div class="search-wrapper">
        <input type="text" name="query" class="field_search">
        <button class="btn btn-primary btn_search btn-easy">Buscar</button>
      </div>
    </form>
  </div>
</div>
