
<div class="container">

  <div class="banner-category-wrapper">
    <h2>Faça parte da <strong>easyParty</strong></h2>
    <p>Ganhe dinheiro em seu próprio horário</p>
    <%= link_to "Cadastre-se como profissional", new_user_registration_path, class: "btn btn-primary btn-banner" %>
  </div>
</div>

