<%= render "users/banner" %>

<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-4 home-col">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis varius viverra.</p>
    </div>
    <div class="col-xs-12 col-sm-4 home-col">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis varius viverra.</p>
    </div>
    <div class="col-xs-12 col-sm-4 home-col">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis varius viverra.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @professionals.each do |professional| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", professional: professional %>
      </div>
    <% end %>
  </div>
</div>
