<%= render "users/banner" %>
<%= render "users/about_col" %>


<div class="container">
  <div class="row">
    <% @professionals.each do |professional| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", professional: professional %>
      </div>
    <% end %>
  </div>
</div>
