<footer>
  <div class="container">
    <div class="footer-wrap">
  <div class="footer-logo">
     <a href="/" class="navbar-easy-brand">
      <%= image_tag ( "logo_easy_footer.png") %>
    </a>
    </div>
  <div class="social-wrap">
    <ul class="social-list">
      <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter-square" aria-hidden="true"></i></i></li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></i></li>


    </ul>
    </div>
  </div>
  </div>
</footer>
<div class="container">
<div class="rights-footer">
  <p>© 2018 easyParty - Os melhores serviços para seus eventos. Todos os direitos reservados</p>
</div>
</div>
