.about_col {
  border: 1px solid #ff0073;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #536e7b;
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-top: 8px;
  border-radius: 3px;
}

.about_col h4 {
  color: #ff0073;
}

.icon_about {
  color: #ff0073;
  font-size: 34px;
}

.about-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}


