.banner-category-wrapper {
  margin-top: 10px;
  background-image: url('banner_category_1.png');
  padding: 20px;
  height: 200px;
  color: #fff;
}

.banner-home-img {
  width: 100%;
}


.btn-banner{
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #ff0073;

}

.btn-banner:hover {
  background-color: #AA184D;
  border: none;
}
